<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${projectName}"></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,admin-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/static/layui/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/static/layui/lib/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/static/layui/js/xadmin.js}"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">课程管理</div>
                <div class="layui-card-body ">
                    <div class="layui-form layui-form-pane">
                        <div class="layui-btn-group demoTable">
                            <button class="layui-btn" data-type="addCourse">新增课程</button>
                        </div>
                    </div>
                    <table class="layui-table" lay-filter="toolBar" id="list"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="status">
    {{#  if(d.pass === 0){ }}
    <input type="button" name="pass" class="layui-btn layui-btn-warm" value="待审核">
    {{#  } }}

    {{#  if(d.pass === 1){ }}
    <input type="button" name="pass" class="layui-btn layui-btn-danger" value="未通过">
    {{#  } }}

    {{#  if(d.pass === 2){ }}
    <input type="button" name="pass" class="layui-btn layui-btn" value="通过">
    {{#  } }}

</script>

<script type="text/html" id="barDemo">
    {{#  if(d.pass === 0){ }}
    <a class="layui-btn layui-btn-normal  layui-btn-radius" lay-event="edit">编辑</a>
    {{#  } }}

    <a class="layui-btn layui-btn-danger layui-btn-radius" lay-event="del">删除</a>
</script>

<script type="text/javascript" th:inline="javascript">
    function createrFormat(o) {
        return o;
    }

    window.rootPath = [[${rootPath}]];
    layui.use(['table', 'laypage', 'form', 'layer'], function () {
        var table = layui.table,
            form = layui.form,
            layer = layui.layer;

        //js渲染表格
        table.render({
            elem: '#list',
            url: rootPath + '/CourseController/course_list',
            toolbar: true,
            page: true,
            limits: [5, 10, 15],
            limit: 5,
            groups: 3,
            cols: [
                [ //标题栏
                    {
                        templet: '<div>{{d.cid}}</div>',
                        title: 'ID',
                        sort: true,
                        fixed: true,
                        field: 'cid'
                    },
                    {templet: '<div>{{d.stName}}</div>', title: '一级类名', field: 'stName'},
                    {templet: '<div>{{d.ndName}}</div>', title: '二级类名', field: 'ndName'},
                    {templet: '<div>{{d.cname}}</div>', title: '课程名', field: 'cname'},
                    {
                        templet: '<div>{{d.pass}}</div>',
                        title: '审核状态',
                        width: 100,
                        align: 'center',
                        templet: '#status',
                        field: 'pass'
                    },
                    {templet: '<div>{{d.advice}}</div>', title: '审核意见', field: 'advice'},
                    {templet: '<div>{{d.courseDescription}}</div>', title: '课程描述', field: 'courseDescription'},
                    {fixed: 'right', width: 216, align: 'center', toolbar: '#barDemo'}
                ]
            ]
        });

        //监听工具条
        table.on('tool(toolBar)', function (obj) {
            var data = obj.data;
            var cid = data.cid;
            if (obj.event === 'del') {
                layer.confirm('确认删除吗？', function (obj) {
                    $.ajax({
                        type: 'POST',
                        url: rootPath + '/CourseController/course_del',
                        data: {cid: cid},
                        dataType: 'json',
                        success: function (res) {
                            if (res.code == 200) {
                                layer.msg(res.msg, {icon: 6, time: 2000});
                                table.reload('list', {
                                    url: rootPath + '/CourseController/course_list'
                                });
                            } else {
                                layer.msg(res.msg, {icon: 5, time: 2000});
                            }
                        },
                        error: function (res) {
                            layer.msg(res.msg, {icon: 5, time: 2000});
                        }
                    })
                });
            }else if (obj.event === 'edit') {
                var course_edit = layer.open({
                    type: 2,
                    title: '修改信息',
                    content: rootPath + "/CourseController/course_edit_view?cid=" + cid, //这里content是一个普通的String
                    maxmin: true
                });
                layer.full(course_edit);
            }
        });

        var $ = layui.$, active = {
            addCourse: function () { //获取选中数据
                addCourse = layer.open({
                    type: 2,
                    title: '新增课程',
                    content: rootPath + '/CourseController/course_add_view', //这里content是一个普通的String
                    maxmin: true
                });
                layer.full(addCourse);
            },
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</body>
</html>