<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.wadreamer.cloudlearning.mapper.auto.ChapterMapper">
    <resultMap id="BaseResultMap" type="club.wadreamer.cloudlearning.model.auto.Chapter">
        <id column="chapter_id" jdbcType="INTEGER" property="chapterId"/>
        <result column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="cid" jdbcType="INTEGER" property="cid"/>
        <result column="cname" jdbcType="VARCHAR" property="cname"/>
        <result column="chapter" jdbcType="VARCHAR" property="chapter"/>
        <result column="chapter_description" jdbcType="VARCHAR" property="chapterDescription"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
    </resultMap>
    <sql id="Base_Column_List">
    chapter_id, uid, cid, cname, chapter, chapter_description, order_num
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from c_chapter
        where chapter_id = #{chapterId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from c_chapter
    where chapter_id = #{chapterId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="club.wadreamer.cloudlearning.model.auto.Chapter">
    insert into c_chapter (chapter_id, uid, cid, 
      cname, chapter, chapter_description
      )
    values (#{chapterId,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{cid,jdbcType=INTEGER}, 
      #{cname,jdbcType=VARCHAR}, #{chapter,jdbcType=VARCHAR}, #{chapterDescription,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="club.wadreamer.cloudlearning.model.auto.Chapter">
        insert into c_chapter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chapterId != null">
                chapter_id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="cid != null">
                cid,
            </if>
            <if test="cname != null">
                cname,
            </if>
            <if test="chapter != null">
                chapter,
            </if>
            <if test="chapterDescription != null">
                chapter_description,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chapterId != null">
                #{chapterId,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="cid != null">
                #{cid,jdbcType=INTEGER},
            </if>
            <if test="cname != null">
                #{cname,jdbcType=VARCHAR},
            </if>
            <if test="chapter != null">
                #{chapter,jdbcType=VARCHAR},
            </if>
            <if test="chapterDescription != null">
                #{chapterDescription,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="club.wadreamer.cloudlearning.model.auto.Chapter">
        update c_chapter
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=VARCHAR},
            </if>
            <if test="cid != null">
                cid = #{cid,jdbcType=INTEGER},
            </if>
            <if test="cname != null">
                cname = #{cname,jdbcType=VARCHAR},
            </if>
            <if test="chapter != null">
                chapter = #{chapter,jdbcType=VARCHAR},
            </if>
            <if test="chapterDescription != null">
                chapter_description = #{chapterDescription,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=INTEGER},
            </if>
        </set>
        where chapter_id = #{chapterId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="club.wadreamer.cloudlearning.model.auto.Chapter">
    update c_chapter
    set uid = #{uid,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      cname = #{cname,jdbcType=VARCHAR},
      chapter = #{chapter,jdbcType=VARCHAR},
      chapter_description = #{chapterDescription,jdbcType=VARCHAR}
    where chapter_id = #{chapterId,jdbcType=INTEGER}
  </update>

    <select id="getChapterList" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from c_chapter
        where uid = #{uid,jdbcType=VARCHAR}
    </select>

    <select id="getChaptersByCid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from c_chapter
        where uid = #{uid} and cid = #{cid}
    </select>
</mapper>