<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.wadreamer.cloudlearning.mapper.auto.RoleMapper">
  <resultMap id="BaseResultMap" type="club.wadreamer.cloudlearning.model.auto.Role">
    <id column="rid" jdbcType="INTEGER" property="rid" />
    <result column="role" jdbcType="VARCHAR" property="role" />
  </resultMap>
  <sql id="Base_Column_List">
    rid, role
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from c_role
    where rid = #{rid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from c_role
    where rid = #{rid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="club.wadreamer.cloudlearning.model.auto.Role">
    insert into c_role (rid, role)
    values (#{rid,jdbcType=INTEGER}, #{role,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="club.wadreamer.cloudlearning.model.auto.Role">
    insert into c_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        rid,
      </if>
      <if test="role != null">
        role,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="club.wadreamer.cloudlearning.model.auto.Role">
    update c_role
    <set>
      <if test="role != null">
        role = #{role,jdbcType=VARCHAR},
      </if>
    </set>
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="club.wadreamer.cloudlearning.model.auto.Role">
    update c_role
    set role = #{role,jdbcType=VARCHAR}
    where rid = #{rid,jdbcType=INTEGER}
  </update>

  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    r.rid,r.role
    from c_role r
    inner join c_user_role ur
    on r.rid = ur.rid
    where ur.uid = #{uid}
  </select>
</mapper>