<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.wadreamer.cloudlearning.mapper.auto.UserRoleMapper">
  <resultMap id="BaseResultMap" type="club.wadreamer.cloudlearning.model.auto.UserRole">
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="rid" jdbcType="INTEGER" property="rid" />
  </resultMap>
  <insert id="insert" parameterType="club.wadreamer.cloudlearning.model.auto.UserRole">
    insert into c_user_role (uid, rid)
    values (#{uid,jdbcType=VARCHAR}, #{rid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="club.wadreamer.cloudlearning.model.auto.UserRole">
    insert into c_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="rid != null">
        rid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <delete id="deleteByUid" parameterType="java.lang.String">
    delete from c_user_role
    where uid = #{uid}
  </delete>
</mapper>